body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  // font-family: 'Courier New', Courier, monospace;
  // font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: linear-gradient(89deg, #dee 0%, #fdd 100%);
}

nav {
  display: flex;
  justify-content: flex-end;
}
